extends:
  - '@rixo'

overrides:
  - files: ["lib/**/*"]
    env:
      node: true
  - files: ["**/*/rollup.*.js"]
    env:
      node: true
  - files: ["src/**/*", "test/**/src/**/*"]
    env:
      browser: true
    globals:
      System: readonly
  - files: ["example/src/**/*"]
    env:
     browser: true

rules:
  # buggy rule... TODO should be disabled in @rixo/eslint-config
  require-atomic-updates: off
